.shape-circle .slide:not([class*="shape-"]):before,
.slide.shape-circle:before {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, .87);
  border-radius: 50%;
  width: 1680px;
  height: 1680px;
  left: -420px;
  top: -300px;
  z-index: -1;
}

.shape-circle .slide:not([class*="shape-"]).depth-2 > h2,
.shape-circle .slide:not([class*="shape-"]).depth-3 > h3,
.slide.depth-2.shape-circle > h2,
.slide.depth-3.shape-circle > h3 {
  max-width: 800px;
}

.shape-circle .slide:not([class*="shape-"]).depth-2:not(.present) > h2,
.shape-circle .slide:not([class*="shape-"]).depth-3:not(.present) > h3,
.slide.shape-circle.depth-2:not(.present) > h2,
.slide.shape-circle.depth-3:not(.present) > h3 {
  transform: translate3d(420px, 440px, 0) translate3d(-50%, -50%, 0) scale(2);
  transition: ${transitionDuration};
}
