
/*
 * red
 */
.primary-red:not(.slide) {
  background: #f44336;
  background: linear-gradient(to right bottom, #c62828, #f44336);
}

[class*=shape-] .primary-red.slide {
  color: #fff;

  &::before {
    background: #f44336;
  }
}

.secondary-red {
  a {
    color: #f44336;
    text-decoration: none;

    &:hover,
    &:active {
      background: #f44336;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #ef9a9a;
      }
    }
  }

  .impress-progressbar > div {
    background: #f44336;

    &::after {
      background: #f44336;
    }
  }

  #impress-autoplay-playpause {
    background: #f44336;
    color: #fff;
  }
}

/*
 * pink
 */
.primary-pink:not(.slide) {
  background: #e91e63;
  background: linear-gradient(to right bottom, #ad1457, #e91e63);
}

[class*=shape-] .primary-pink.slide {
  color: #fff;

  &::before {
    background: #e91e63;
  }
}

.secondary-pink {
  a {
    color: #e91e63;
    text-decoration: none;

    &:hover,
    &:active {
      background: #e91e63;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #f48fb1;
      }
    }
  }

  .impress-progressbar > div {
    background: #e91e63;

    &::after {
      background: #e91e63;
    }
  }

  #impress-autoplay-playpause {
    background: #e91e63;
    color: #fff;
  }
}

/*
 * purple
 */
.primary-purple:not(.slide) {
  background: #9c27b0;
  background: linear-gradient(to right bottom, #6a1b9a, #9c27b0);
}

[class*=shape-] .primary-purple.slide {
  color: #fff;

  &::before {
    background: #9c27b0;
  }
}

.secondary-purple {
  a {
    color: #9c27b0;
    text-decoration: none;

    &:hover,
    &:active {
      background: #9c27b0;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #ce93d8;
      }
    }
  }

  .impress-progressbar > div {
    background: #9c27b0;

    &::after {
      background: #9c27b0;
    }
  }

  #impress-autoplay-playpause {
    background: #9c27b0;
    color: #fff;
  }
}

/*
 * deeppurple
 */
.primary-deeppurple:not(.slide) {
  background: #673ab7;
  background: linear-gradient(to right bottom, #4527a0, #673ab7);
}

[class*=shape-] .primary-deeppurple.slide {
  color: #fff;

  &::before {
    background: #673ab7;
  }
}

.secondary-deeppurple {
  a {
    color: #673ab7;
    text-decoration: none;

    &:hover,
    &:active {
      background: #673ab7;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #b39ddb;
      }
    }
  }

  .impress-progressbar > div {
    background: #673ab7;

    &::after {
      background: #673ab7;
    }
  }

  #impress-autoplay-playpause {
    background: #673ab7;
    color: #fff;
  }
}

/*
 * indigo
 */
.primary-indigo:not(.slide) {
  background: #3f51b5;
  background: linear-gradient(to right bottom, #283593, #3f51b5);
}

[class*=shape-] .primary-indigo.slide {
  color: #fff;

  &::before {
    background: #3f51b5;
  }
}

.secondary-indigo {
  a {
    color: #3f51b5;
    text-decoration: none;

    &:hover,
    &:active {
      background: #3f51b5;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #9fa8da;
      }
    }
  }

  .impress-progressbar > div {
    background: #3f51b5;

    &::after {
      background: #3f51b5;
    }
  }

  #impress-autoplay-playpause {
    background: #3f51b5;
    color: #fff;
  }
}

/*
 * blue
 */
.primary-blue:not(.slide) {
  background: #2196f3;
  background: linear-gradient(to right bottom, #1565c0, #2196f3);
}

[class*=shape-] .primary-blue.slide {
  color: #fff;

  &::before {
    background: #2196f3;
  }
}

.secondary-blue {
  a {
    color: #2196f3;
    text-decoration: none;

    &:hover,
    &:active {
      background: #2196f3;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #90caf9;
      }
    }
  }

  .impress-progressbar > div {
    background: #2196f3;

    &::after {
      background: #2196f3;
    }
  }

  #impress-autoplay-playpause {
    background: #2196f3;
    color: #fff;
  }
}

/*
 * lightblue
 */
.primary-lightblue:not(.slide) {
  background: #03a9f4;
  background: linear-gradient(to right bottom, #0277bd, #03a9f4);
}

[class*=shape-] .primary-lightblue.slide {
  color: #fff;

  &::before {
    background: #03a9f4;
  }
}

.secondary-lightblue {
  a {
    color: #03a9f4;
    text-decoration: none;

    &:hover,
    &:active {
      background: #03a9f4;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #81d4fa;
      }
    }
  }

  .impress-progressbar > div {
    background: #03a9f4;

    &::after {
      background: #03a9f4;
    }
  }

  #impress-autoplay-playpause {
    background: #03a9f4;
    color: #fff;
  }
}

/*
 * cyan
 */
.primary-cyan:not(.slide) {
  background: #00bcd4;
  background: linear-gradient(to right bottom, #00838f, #00bcd4);
}

[class*=shape-] .primary-cyan.slide {
  color: #fff;

  &::before {
    background: #00bcd4;
  }
}

.secondary-cyan {
  a {
    color: #00bcd4;
    text-decoration: none;

    &:hover,
    &:active {
      background: #00bcd4;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #80deea;
      }
    }
  }

  .impress-progressbar > div {
    background: #00bcd4;

    &::after {
      background: #00bcd4;
    }
  }

  #impress-autoplay-playpause {
    background: #00bcd4;
    color: #fff;
  }
}

/*
 * teal
 */
.primary-teal:not(.slide) {
  background: #009688;
  background: linear-gradient(to right bottom, #00695c, #009688);
}

[class*=shape-] .primary-teal.slide {
  color: #fff;

  &::before {
    background: #009688;
  }
}

.secondary-teal {
  a {
    color: #009688;
    text-decoration: none;

    &:hover,
    &:active {
      background: #009688;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #80cbc4;
      }
    }
  }

  .impress-progressbar > div {
    background: #009688;

    &::after {
      background: #009688;
    }
  }

  #impress-autoplay-playpause {
    background: #009688;
    color: #fff;
  }
}

/*
 * green
 */
.primary-green:not(.slide) {
  background: #4caf50;
  background: linear-gradient(to right bottom, #2e7d32, #4caf50);
}

[class*=shape-] .primary-green.slide {
  color: #fff;

  &::before {
    background: #4caf50;
  }
}

.secondary-green {
  a {
    color: #4caf50;
    text-decoration: none;

    &:hover,
    &:active {
      background: #4caf50;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #a5d6a7;
      }
    }
  }

  .impress-progressbar > div {
    background: #4caf50;

    &::after {
      background: #4caf50;
    }
  }

  #impress-autoplay-playpause {
    background: #4caf50;
    color: #fff;
  }
}

/*
 * lightgreen
 */
.primary-lightgreen:not(.slide) {
  background: #8bc34a;
  background: linear-gradient(to right bottom, #558b2f, #8bc34a);
}

[class*=shape-] .primary-lightgreen.slide {
  color: #fff;

  &::before {
    background: #8bc34a;
  }
}

.secondary-lightgreen {
  a {
    color: #8bc34a;
    text-decoration: none;

    &:hover,
    &:active {
      background: #8bc34a;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #c5e1a5;
      }
    }
  }

  .impress-progressbar > div {
    background: #8bc34a;

    &::after {
      background: #8bc34a;
    }
  }

  #impress-autoplay-playpause {
    background: #8bc34a;
    color: #fff;
  }
}

/*
 * lime
 */
.primary-lime:not(.slide) {
  background: #cddc39;
  background: linear-gradient(to right bottom, #9e9d24, #cddc39);
}

[class*=shape-] .primary-lime.slide {
  color: #fff;

  &::before {
    background: #cddc39;
  }
}

.secondary-lime {
  a {
    color: #cddc39;
    text-decoration: none;

    &:hover,
    &:active {
      background: #cddc39;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #e6ee9c;
      }
    }
  }

  .impress-progressbar > div {
    background: #cddc39;

    &::after {
      background: #cddc39;
    }
  }

  #impress-autoplay-playpause {
    background: #cddc39;
    color: #fff;
  }
}

/*
 * yellow
 */
.primary-yellow:not(.slide) {
  background: #ffeb3b;
  background: linear-gradient(to right bottom, #f9a825, #ffeb3b);
}

[class*=shape-] .primary-yellow.slide {
  color: #fff;

  &::before {
    background: #ffeb3b;
  }
}

.secondary-yellow {
  a {
    color: #ffeb3b;
    text-decoration: none;

    &:hover,
    &:active {
      background: #ffeb3b;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #fff59d;
      }
    }
  }

  .impress-progressbar > div {
    background: #ffeb3b;

    &::after {
      background: #ffeb3b;
    }
  }

  #impress-autoplay-playpause {
    background: #ffeb3b;
    color: #fff;
  }
}

/*
 * amber
 */
.primary-amber:not(.slide) {
  background: #ffc107;
  background: linear-gradient(to right bottom, #ff8f00, #ffc107);
}

[class*=shape-] .primary-amber.slide {
  color: #fff;

  &::before {
    background: #ffc107;
  }
}

.secondary-amber {
  a {
    color: #ffc107;
    text-decoration: none;

    &:hover,
    &:active {
      background: #ffc107;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #ffe082;
      }
    }
  }

  .impress-progressbar > div {
    background: #ffc107;

    &::after {
      background: #ffc107;
    }
  }

  #impress-autoplay-playpause {
    background: #ffc107;
    color: #fff;
  }
}

/*
 * orange
 */
.primary-orange:not(.slide) {
  background: #ff9800;
  background: linear-gradient(to right bottom, #ef6c00, #ff9800);
}

[class*=shape-] .primary-orange.slide {
  color: #fff;

  &::before {
    background: #ff9800;
  }
}

.secondary-orange {
  a {
    color: #ff9800;
    text-decoration: none;

    &:hover,
    &:active {
      background: #ff9800;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #ffcc80;
      }
    }
  }

  .impress-progressbar > div {
    background: #ff9800;

    &::after {
      background: #ff9800;
    }
  }

  #impress-autoplay-playpause {
    background: #ff9800;
    color: #fff;
  }
}

/*
 * deeporange
 */
.primary-deeporange:not(.slide) {
  background: #ff5722;
  background: linear-gradient(to right bottom, #d84315, #ff5722);
}

[class*=shape-] .primary-deeporange.slide {
  color: #fff;

  &::before {
    background: #ff5722;
  }
}

.secondary-deeporange {
  a {
    color: #ff5722;
    text-decoration: none;

    &:hover,
    &:active {
      background: #ff5722;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #ffab91;
      }
    }
  }

  .impress-progressbar > div {
    background: #ff5722;

    &::after {
      background: #ff5722;
    }
  }

  #impress-autoplay-playpause {
    background: #ff5722;
    color: #fff;
  }
}

/*
 * brown
 */
.primary-brown:not(.slide) {
  background: #795548;
  background: linear-gradient(to right bottom, #4e342e, #795548);
}

[class*=shape-] .primary-brown.slide {
  color: #fff;

  &::before {
    background: #795548;
  }
}

.secondary-brown {
  a {
    color: #795548;
    text-decoration: none;

    &:hover,
    &:active {
      background: #795548;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #bcaaa4;
      }
    }
  }

  .impress-progressbar > div {
    background: #795548;

    &::after {
      background: #795548;
    }
  }

  #impress-autoplay-playpause {
    background: #795548;
    color: #fff;
  }
}

/*
 * grey
 */
.primary-grey:not(.slide) {
  background: #9e9e9e;
  background: linear-gradient(to right bottom, #424242, #9e9e9e);
}

[class*=shape-] .primary-grey.slide {
  color: #fff;

  &::before {
    background: #9e9e9e;
  }
}

.secondary-grey {
  a {
    color: #9e9e9e;
    text-decoration: none;

    &:hover,
    &:active {
      background: #9e9e9e;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #eeeeee;
      }
    }
  }

  .impress-progressbar > div {
    background: #9e9e9e;

    &::after {
      background: #9e9e9e;
    }
  }

  #impress-autoplay-playpause {
    background: #9e9e9e;
    color: #fff;
  }
}

/*
 * bluegrey
 */
.primary-bluegrey:not(.slide) {
  background: #607d8b;
  background: linear-gradient(to right bottom, #37474f, #607d8b);
}

[class*=shape-] .primary-bluegrey.slide {
  color: #fff;

  &::before {
    background: #607d8b;
  }
}

.secondary-bluegrey {
  a {
    color: #607d8b;
    text-decoration: none;

    &:hover,
    &:active {
      background: #607d8b;
      color: #fff;
    }
  }

  .step.title {
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:active {
        /* stylelint-disable-next-line color-hex-length */
        color: #b0bec5;
      }
    }
  }

  .impress-progressbar > div {
    background: #607d8b;

    &::after {
      background: #607d8b;
    }
  }

  #impress-autoplay-playpause {
    background: #607d8b;
    color: #fff;
  }
}
