@media screen {
  #impress-help {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    color: #000;
    opacity: 0.87;
    padding: 8px 16px;
    position: fixed;
    right: 16px;
    top: 16px;
    transition: bottom $transition-duration;
    width: 24em;
    z-index: 100;

    table {
      width: 100%;

      td {
        padding-left: 8px;
      }

      td:first-of-type {
        padding-right: 8px;
        text-align: right;
        width: 38%;
      }
    }
  }
}

@media print {
  #impress-help {
    display: none;
  }
}
