$transition-duration: 1000ms !default;

/* Slide steps */

.slide {

  color: rgba(0, 0, 0, 0.87);
  display: block;

  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  height: 1080px;
  letter-spacing: -1px;
  line-height: 36px;
  padding: 40px 60px;

  width: 1920px;
}

.slide > * {
  opacity: 0;
  transition: $transition-duration;
}

.slide > h1,
.slide > h2,
.slide > h3,
.slide.present > * {
  opacity: 1;
}

.slide q {
  display: block;
  font-size: 50px;
  line-height: 72px;

  margin-top: 100px;
}

.slide q strong {
  white-space: nowrap;
}

.slide.depth-2 > p,
.slide.depth-3 > p {
  width: 1000px;
}

.slide.depth-2 > h2,
.slide.depth-3 > h3 {
  display: inline-block;
  margin-bottom: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.slide.present.depth-2 > h2,
.slide.present.depth-3 > h3 {
  white-space: normal;
}

.slide {

  background-color: transparent;
  border-width: 0;
  box-shadow: none;
  padding: 100px 32px;
  position: relative;
}

.slide p {
  font-size: 150%;
  line-height: 150%;
}

.slide ol,
.slide ul {
  padding-left: 128px;
}

.slide > ol,
.slide > ul {
  font-size: 180%;
  overflow: hidden;
  width: 800px;
}

.slide ul > li {
  list-style-type: disc;
}

/* Slides with code */

.slide {
  code,
  .code {
    font-family: 'Fira Code', monospace;
  }

  > pre,
  > .code {
    display: block;
    font-size: 28px;
    line-height: 38px;
    position: absolute;
    right: 64px;
    top: 100px;
    transform: translate3d(0, 0, 1px);
    width: 868px;
  }

  > .code {
    background-color: #fff;
    box-sizing: border-box;
    padding: 2vh 2vw;
  }

  > pre > code {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    padding: 16px;
  }
}
