$toolbar-button-size: 56px;
$toolbar-padding-vertical: 12px;
$toolbar-height: $toolbar-button-size + 2 * $toolbar-padding-vertical;

body.impress-mouse-timeout #impress-toolbar {
  bottom: -$toolbar-height;
}

.impress-enabled #impress-toolbar {
  pointer-events: auto;
  position: fixed;
  height: $toolbar-button-size;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  background-color: #fff;
  padding: $toolbar-padding-vertical 0;
  display: flex;
  justify-content: center;
  transition: bottom $transitionDuration;

  button,
  select {
    border: none;
    margin: 0 4px;
    font-size: 24px;
    cursor: pointer;
  }

  button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;

    &:active {
      background-color: lightgray;
    }

    &:focus {
      outline: none;
    }
  }

  select {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    display: block;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 20%;
    max-width: 20%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    text-transform: capitalize;

    &:hover {
      border-color: #888;
    }

    option {
      font-weight: normal;
      line-height: 1.3;
      background: #fff;
      color: #000;
    }
  }

  #impress-autoplay-playpause {
    transform: translate(-50%, -50%);
    width: $toolbar-button-size !important;
    height: $toolbar-button-size !important;
    background-color: #9e9e9e;
    color: #fff;
  }

  #impress-navigation-ui-prev {
    padding-top: 6px;
    transform: translate(-50%, -50%) translate(-64px, 0);
  }

  #impress-navigation-ui-next {
    padding-top: 6px;
    transform: translate(-50%, -50%) translate(64px, 0);
  }

  > span {
    margin-right: 10px;
  }
}
