$transitionDuration: 1000ms !default;
$progressbar-height: .6vh !default;
$progressbar-dot-size: 1.6vh !default;

body.impress-mouse-timeout .impress-progressbar {
  div:after {
    opacity: 0;
  }
}

.impress-progress {
  display: none;
}

.impress-progressbar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: bottom $transitionDuration;

  div {
    position: relative;
    width: 0;
    height: $progressbar-height;
    background: rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.87), rgba(0, 0, 0, 0.4));
    transition: width $transitionDuration linear;

    &:after {
      // The dot at the end of the progressbar
      content: '';
      display: block;
      height: $progressbar-dot-size;
      width: $progressbar-dot-size;
      position: absolute;
      right: -$progressbar-dot-size;
      top: 50%;
      transform: translate(-50%, -50%);
      background: rgba(127, 127, 127, 1);
      border-radius: 50%;
      transition: opacity $transitionDuration;
    }
  }
}
