@media print {
  @page {
    size: landscape
  }

  body {
    height: unset !important;
    overflow: unset !important;
  }

  #impress,
  #impress > div,
  .slide {
    position: unset !important;
    transform: unset !important;
  }

  .slide {
    padding: 0;
    font-size: 20px;
    page-break-after: always;
    width: 100vw !important;
    height: 100vh !important;
  }
}
