@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic');

body.theme-newspaper,
.theme-newspaper .slide {
  font-family: 'Droid Serif', serif;
  background-color: #f9f7f1;
  color: #2f2f2f;
}

body.theme-newspaper {
  font-size: 14px;
}

.theme-newspaper .slide.title {
  width: 1920px;
}

.theme-newspaper .title h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 82px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-top: 64px;
  margin-bottom: 20px;
  position: relative;
}

.theme-newspaper .title h1,
.theme-newspaper .title p {
  text-align: center;
}

.theme-newspaper .title p:first-of-type {
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 3px solid #2f2f2f;
  border-top: 3px solid #2f2f2f;
  padding: 12px 0 12px 0;
}

.theme-newspaper p {
  margin-top: 0;
  margin-bottom: 20px;
}

.theme-newspaper .slide {
  padding: 32px 128px;
  width: 1080px;
}

.theme-newspaper .slide,
.theme-newspaper .slide a {
  color: transparent;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.theme-newspaper .slide.title,
.theme-newspaper .slide.title a,
.theme-newspaper .impress-on-title .slide,
.theme-newspaper .impress-on-overview .slide,
.theme-newspaper .slide.present,
.theme-newspaper .slide.present a {
  color: inherit;
  text-shadow: none;
}

.theme-newspaper .slide > pre > code {
  opacity: 0;
}

.theme-newspaper .slide.present > pre > code {
  opacity: 1;
}

.theme-newspaper .slide > * {
  opacity: 1;
}

.theme-newspaper .slide.depth-2,
.theme-newspaper .slide.depth-3 {
  border-right: 2px solid black;
}

.theme-newspaper .slide.depth-2 > h2,
.theme-newspaper .slide.depth-3 > h3 {
  display: block;
  text-align: center;
  margin-top: 32px;
  white-space: pre-wrap;
  word-break: break-word;
}

.theme-newspaper .slide.depth-2 h2:after,
.theme-newspaper .slide.depth-3 h3:after {
  border-bottom: 2px solid #2f2f2f;
  content: '';
  width: 900px;
  height: 48px;
  display: block;
  margin: 0 auto;
}

.theme-newspaper .slide:before {
  display: none;
}

.theme-newspaper .slide.depth-2 h2 {
  font-weight: 400;
  font-size: 96px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.theme-newspaper .slide.depth-3 h3 {
  font-weight: 400;
  font-style: italic;
  font-size: 96px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.theme-newspaper .slide > ol,
.theme-newspaper .slide > ul {
  width: auto;
}

.theme-newspaper .slide ol,
.theme-newspaper .slide ul {
  padding-left: 64px;
}

.theme-newspaper .slide ol li,
.theme-newspaper .slide ul li {
  list-style-type: square;
}

.theme-newspaper .slide > pre {
  position: initial;
  width: auto;
  margin: 16px 0;
  transform: none;
}

.theme-newspaper .slide > pre > code {
  box-shadow: none;
}

.theme-newspaper .slide.background {
  border-right: none;
}

.theme-newspaper .slide.background > h2 {
  display: none;
}

