$shape-none-width: 1920px !default;
$shape-none-height: 1080px !default;
$shape-none-offset-x: 0 !default;
$shape-none-offset-y: 0 !default;

@media screen {
  .shape-none .slide:not([class*='shape-']),
  .slide.shape-none {
    &::before {
      content: '';
      height: $shape-none-height;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, -1px) translate3d($shape-none-offset-x, $shape-none-offset-y, 0) scale(1.012);
      width: $shape-none-width;
    }
  }
}
