.shape-circle .slide:not([class*="shape-"]),
.slide.shape-circle {
  &:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, .87);
    border-radius: 50%;
    width: 1680px;
    height: 1680px;
    left: -420px;
    top: -300px;
    z-index: -1;
  }

  &.depth-2 > h2,
  &.depth-3 > h3 {
    max-width: 800px;
  }

  &.depth-2:not(.present) > h2,
  &.depth-3:not(.present) > h3 {
    transform: translate3d(420px, 440px, 0) translate3d(-50%, -50%, 0) scale(2);
  }
}
