$shape-circle-width: 1680px !default;
$shape-circle-height: 1080px !default;
$shape-circle-offset-x: 1680px !default;
$shape-circle-offset-y: 1080px !default;

.shape-circle .slide:not([class*='shape-']),
.slide.shape-circle {
  &::before {
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 50%;
    content: '';
    height: $shape-circle-height;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d($shape-circle-offset-x, $shape-circle-offset-y, 0);
    width: $shape-circle-width;
    z-index: -1;
  }

  &.depth-2:not(.present) > h2,
  &.depth-3:not(.present) > h3 {
    max-width: $shape-circle-width/2-100px;
    transform: translate3d(-$shape-circle-offset-x - 70px, 440px, 0) translate3d(-50%, -50%, 0) scale(2);
  }
}
