@media screen {
  .theme-gallery {
    .slide.depth-2 > .heading,
    .slide.depth-3 > .heading {
      max-width: 100% !important;
      transform: translate3d(0, 0, 0) !important;
    }

    .slide > * {
      opacity: 1;
    }
  }
}
