.primary-red {
  background: #f44336;
  background: linear-gradient(to right bottom, #f44336, #1565c0);
}
.secondary-red a {
  border-bottom: 1px solid #f44336;
}
.secondary-red a:hover,
.secondary-red a:active {
  color: #f44336;
}

.primary-pink {
  background: #e91e63;
  background: linear-gradient(to right bottom, #e91e63, #1565c0);
}
.secondary-pink a {
  border-bottom: 1px solid #e91e63;
}
.secondary-pink a:hover,
.secondary-pink a:active {
  color: #e91e63;
}

.primary-purple {
  background: #9c27b0;
  background: linear-gradient(to right bottom, #9c27b0, #1565c0);
}
.secondary-purple a {
  border-bottom: 1px solid #9c27b0;
}
.secondary-purple a:hover,
.secondary-purple a:active {
  color: #9c27b0;
}

.primary-deepPurple {
  background: #673ab7;
  background: linear-gradient(to right bottom, #673ab7, #1565c0);
}
.secondary-deepPurple a {
  border-bottom: 1px solid #673ab7;
}
.secondary-deepPurple a:hover,
.secondary-deepPurple a:active {
  color: #673ab7;
}

.primary-indigo {
  background: #3f51b5;
  background: linear-gradient(to right bottom, #3f51b5, #1565c0);
}
.secondary-indigo a {
  border-bottom: 1px solid #3f51b5;
}
.secondary-indigo a:hover,
.secondary-indigo a:active {
  color: #3f51b5;
}

.primary-blue {
  background: #2196f3;
  background: linear-gradient(to right bottom, #2196f3, #1565c0);
}
.secondary-blue a {
  border-bottom: 1px solid #2196f3;
}
.secondary-blue a:hover,
.secondary-blue a:active {
  color: #2196f3;
}

.primary-lightBlue {
  background: #03a9f4;
  background: linear-gradient(to right bottom, #03a9f4, #1565c0);
}
.secondary-lightBlue a {
  border-bottom: 1px solid #03a9f4;
}
.secondary-lightBlue a:hover,
.secondary-lightBlue a:active {
  color: #03a9f4;
}

.primary-cyan {
  background: #00bcd4;
  background: linear-gradient(to right bottom, #00bcd4, #1565c0);
}
.secondary-cyan a {
  border-bottom: 1px solid #00bcd4;
}
.secondary-cyan a:hover,
.secondary-cyan a:active {
  color: #00bcd4;
}

.primary-teal {
  background: #009688;
  background: linear-gradient(to right bottom, #009688, #1565c0);
}
.secondary-teal a {
  border-bottom: 1px solid #009688;
}
.secondary-teal a:hover,
.secondary-teal a:active {
  color: #009688;
}

.primary-green {
  background: #4caf50;
  background: linear-gradient(to right bottom, #4caf50, #1565c0);
}
.secondary-green a {
  border-bottom: 1px solid #4caf50;
}
.secondary-green a:hover,
.secondary-green a:active {
  color: #4caf50;
}

.primary-lightGreen {
  background: #8bc34a;
  background: linear-gradient(to right bottom, #8bc34a, #1565c0);
}
.secondary-lightGreen a {
  border-bottom: 1px solid #8bc34a;
}
.secondary-lightGreen a:hover,
.secondary-lightGreen a:active {
  color: #8bc34a;
}

.primary-lime {
  background: #cddc39;
  background: linear-gradient(to right bottom, #cddc39, #1565c0);
}
.secondary-lime a {
  border-bottom: 1px solid #cddc39;
}
.secondary-lime a:hover,
.secondary-lime a:active {
  color: #cddc39;
}

.primary-yellow {
  background: #ffeb3b;
  background: linear-gradient(to right bottom, #ffeb3b, #1565c0);
}
.secondary-yellow a {
  border-bottom: 1px solid #ffeb3b;
}
.secondary-yellow a:hover,
.secondary-yellow a:active {
  color: #ffeb3b;
}

.primary-amber {
  background: #ffc107;
  background: linear-gradient(to right bottom, #ffc107, #1565c0);
}
.secondary-amber a {
  border-bottom: 1px solid #ffc107;
}
.secondary-amber a:hover,
.secondary-amber a:active {
  color: #ffc107;
}

.primary-orange {
  background: #ff9800;
  background: linear-gradient(to right bottom, #ff9800, #1565c0);
}
.secondary-orange a {
  border-bottom: 1px solid #ff9800;
}
.secondary-orange a:hover,
.secondary-orange a:active {
  color: #ff9800;
}

.primary-deepOrange {
  background: #ff5722;
  background: linear-gradient(to right bottom, #ff5722, #1565c0);
}
.secondary-deepOrange a {
  border-bottom: 1px solid #ff5722;
}
.secondary-deepOrange a:hover,
.secondary-deepOrange a:active {
  color: #ff5722;
}

.primary-brown {
  background: #795548;
  background: linear-gradient(to right bottom, #795548, #1565c0);
}
.secondary-brown a {
  border-bottom: 1px solid #795548;
}
.secondary-brown a:hover,
.secondary-brown a:active {
  color: #795548;
}

.primary-grey {
  background: #9e9e9e;
  background: linear-gradient(to right bottom, #9e9e9e, #1565c0);
}
.secondary-grey a {
  border-bottom: 1px solid #9e9e9e;
}
.secondary-grey a:hover,
.secondary-grey a:active {
  color: #9e9e9e;
}

.primary-blueGrey {
  background: #607d8b;
  background: linear-gradient(to right bottom, #607d8b, #1565c0);
}
.secondary-blueGrey a {
  border-bottom: 1px solid #607d8b;
}
.secondary-blueGrey a:hover,
.secondary-blueGrey a:active {
  color: #607d8b;
}

.primary-white {
  background: undefined;
  background: linear-gradient(to right bottom, undefined, #1565c0);
}
.secondary-white a {
  border-bottom: 1px solid undefined;
}
.secondary-white a:hover,
.secondary-white a:active {
  color: undefined;
}

.primary-black {
  background: undefined;
  background: linear-gradient(to right bottom, undefined, #1565c0);
}
.secondary-black a {
  border-bottom: 1px solid undefined;
}
.secondary-black a:hover,
.secondary-black a:active {
  color: undefined;
}
