$transition-duration: 1000ms !default;

$slide-padding-horizontal: 32px !default;
$slide-padding-vertical: 100px !default;

$progressbar-height: 0.6vh !default;
$progressbar-dot-size: 1.6vh !default;

$toolbar-button-size: 3.2vh !default;
$toolbar-main-button-size: 4vh !default;
$toolbar-padding: 1.4vh !default;

$shape-circle-width: 1680px !default;
$shape-circle-height: 1080px !default;
$shape-circle-offset-x: 1680px !default;
$shape-circle-offset-y: 1080px !default;

$shape-none-width: 1920px !default;
$shape-none-height: 1080px !default;
$shape-none-offset-x: 0 !default;
$shape-none-offset-y: 0 !default;

$shape-rounded-width: 1600px !default;
$shape-rounded-height: 1080px !default;
$shape-rounded-offset-x: 0 !default;
$shape-rounded-offset-y: 0 !default;

$shape-square-width: 1680px !default;
$shape-square-height: 1680px !default;
$shape-square-offset-x: 1680px !default;
$shape-square-offset-y: 1080px !default;
$shape-square-rotate: -5deg !default;
